<div class="ons-page__container ons-container ons-u-mb-xl">
 <div class="ons-grid ons-js-toc-container">

    <div class="ons-grid__col ons-col-8@m ons-u-mb-m">
        {{ template "partials/breadcrumb" . }}
    </div>

     <div class="ons-grid__col ons-col-8@m ons-u-mb-m">

        <h1 class="ons-u-fs-xxxl">{{ localise "England" .Language 1 }}</h1>
        <b>{{ localise "Country" .Language 1 }}: {{ .Code }}</b>
        <h2 class="ons-u-fs-xl">{{ localise "Overview" .Language 1 }}</h2>
        <p>{{ localise "FactsAndFiguresAboutPeople" .Language 1 }}</p>
        <h2 class="ons-u-fs-xl">{{ localise "Overview" .Language 1 }}</h2>
        <p>{{ localise "FactsAndFiguresAboutPeople" .Language 1 }}</p>
        <p>{{ localise "FindOut" .Language 1 }}:</p>
        <ul>
            <li>{{ localise "HowManyPeopleLiveHere" .Language 1 }}</li>
            <li>{{ localise "HowCrowdedIsIt" .Language 1 }}</li>
            <li>{{ localise "PeoplesAverageAge" .Language 1 }}</li>
            <li>{{ localise "HowManyPeopleThinkHealth" .Language 1 }}</li>
            <li>{{ localise "HowManyHouseholdsEnglishMainLanguage" .Language 1 }}</li>
            <li>{{ localise "HowHouseholdsOwnedMortgageSharedOwnership" .Language 1 }}</li>
        </ul>
        <a>{{ localise "ViewFactsFiguresNomis" .Language 1 }}</a>
     </div>
    </div>
</div>
